$primary: #dd9323;
$dark: #151515;
$grey: #dadfe1;
$lightergrey: #bfbfbf;
$darkergrey: #2e3131;
$secondary-dark-grey: #6c7a89;

$modal-content-width: 1300px;

$body-background-color: $dark;
$body-color: $lightergrey;
$strong-color: $lightergrey;

$link: $primary;
$link-hover: #b17c2d;

$code: #e09e39;
$code-background: rgba(221,147,35,.1);