.is-primary {
    background-color: $primary !important;
  }
  
  
.title {
    color: $lightergrey !important;
}

.subtitle {
    color: $lightergrey !important;
}

p, h1, h2, h3, ul, img, figcaption {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

li {
    margin-bottom: 5px !important;
}

figcaption {
    margin-top: -10px !important;
}

.caption {
    font-size: 13px;
    font-style: oblique;
}